<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am an Analytics professional with more than 10 years of experience in Client Consulting, Product Development and Analytics solution development.<br/><br/>
			Having worked across large enterprises and with start-ups, I have experience of working in dynamic environmenta with a focus on good development practices. <br/><br/>
			I enjoy creating great products which add business value to the client and leadng them on a transformative journey that will bring them ongoing benefits 
		</div>
		<br>
	</div>
</div>
