<!-- {% if site.projects %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Projects that I have executed recently</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				{{site.projects}}
			</div>
			<br>
		</div>
	</div>
{% endif %}
 -->

<div id="projectstab" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="projectstitle">Projects I have executed recently</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="projectdetails">
			<ul>
				<li><strong>Process analytics for Phosphoric acid plant</strong> : Developed multiple models for identifying relationship between the controlled process parameters and their impact on the Physical and Chemical properties of the end product. Carried out on <i>R server/ Linux platform with user interface developed on R shiny environment</i></li>
			</ul>
		</div>
		<br>
	</div>
</div>
