<!-- {% if site.projects %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Projects that I have executed recently</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				{{site.projects}}
			</div>
			<br>
		</div>
	</div>
{% endif %}
 -->

<div id="projectstab" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="projectstitle">Projects I have executed recently</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="projectdetails">
			<ul>
				<li><strong>Process analytics for Phosphoric acid plant</strong> : Developed multiple models for identifying relationship between the controlled process parameters and their impact on the Physical and Chemical properties of the end product. Carried out on <i>R server/ Linux platform with user interface developed on R shiny environment</i></li>
				<li><strong>Cognitive Plant Advisor platform</strong>: Platform solution to provide an end to end solution for industrial environments using historian and sensor data , with Image/ Text analytics. Developed on <i>Python/ Spark/ IBM Bluemix/ Hadoop platform</i></li>
                                <li><strong>Spray dryer optimzation for Milk powder process</strong>: Solution to optimize control parameter settings to maintain quality of end product. Developed on <i>Python/ Spark/ IBM Bluemix/ IBM DSX/ Hadoop platform</i></li>
				<li><strong>Tread wear prediction for heavy vehicle Tires</strong>: Analysis of sensor data captured from TPMS , accelerometer and other on-board sensor devices to develop models for tread wear. Development of non-linear regression, survival and Naïve Bayes models to address different use cases. Solution provided on <i>IBM Bluemix, DashDB, R/R Studio environment.</i></li>
				<li><strong>Acoustics based Plant control strategy</strong>: Analysis performed on sensor data captured during plant operation to develop hypothesis on plant performance based on acoustics. Linear regression models were developed to predict the sound level based on process set points. Classification models were developed using <i>Random forest</i> algorithms to develop <i>rule sets and decision trees</i> to help predict the quality of input feed based on plant acoustics using  <i>R/ Python</i></li>
				<li><strong>Analytics Rule Engine for streaming data</strong>: Developed analytics rule engine on <i>Apache Spark/ SpringXD/ Hadoop</i> platform to handle real time streaming data from multiple sources on MQTT , storage using <i>MongoDB/ Cassandra</i>, to handle simple and complex events (threshold, location, trigger based) . Access to end users provided with RESTful APIs</li>
				<li><strong>Store segmentation-Promotion effectiveness</strong>: Analysis carried out for a US QSR giant which wanted to analyze the effectiveness of their various mobile offer promotions. <i>Clustering (k-means) and Classifications (random forest)</i> models were developed to draw inferences based on region based demographics. Suggestions were made at a nationwide level for stores where similar offers could be rolled out. Tools <i>used R/Tableau</i></li>
			</ul>
		</div>
		<br>
	</div>
</div>
